@use '../../colors' as *;
@use '../../typography' as *;


footer {
    position:fixed;
    bottom:0;
    left:0;
    right:0;

    padding:$spacer-12;
    background-color: $slate-950;
    color: $amber-500;
}

a,
a:visited {
    color: $amber-500;

    &:hover {
        color:$amber-400;
    }
}

.footer-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}


.author-container {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

img {
    max-height: 4rem;
}
