@use '../../colors' as *;
@use '../../typography' as *;

.generator-container {
    background-color: $neutral-800;
    padding: $spacer-12;
}

.app-container {
    display: flex;

    flex-direction: column;
    display:flex;
    justify-content: center;
}

h1 {
    font-size: $font-size-16;
    text-align: center;
    color: $neutral-600;
}

main {
    display:flex;
    flex-direction: column;
    gap:$spacer-24;
}