@use '../../colors' as *;
@use '../../typography' as *;

.generator-container-output {
    background-color: $neutral-800;
    padding: $spacer-12;
    display:flex;
    flex-direction: row;
    position: relative;
}

.generator-container-input {
  background-color: $neutral-800;
  padding: $spacer-12;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: $font-size-16;
    text-align: center;
    color: $neutral-600;
}

main {
    display:flex;
    flex-direction: column;
    gap:$spacer-24;
}

input[type=text]{
  color:$neutral-200;
  font-family: $font-family;
  font-weight: $font-weight-bold;
  border:none;
  background:none;
  font-size: $font-size-24;

  &:focus-visible{
    outline: none;
  }
}

button{
  background:none;
  border:none;
  cursor: pointer;
}
.copy-container {
  position: absolute;
  right: $spacer-32;
  top: $spacer-20;
  display:flex;
  align-items: center;
  flex-direction: row;
  gap: $spacer-8;
}

span {
  color: $green-200;
}
svg {
  fill: $neutral-200;

  &:hover {
    fill: $green-200;
  }
}


.visible {
  display: block;
}

.hide {
  display: none;
}


@media (min-width: 768px) {
  .generator-container-output {
    padding: $spacer-16 $spacer-32;
  }

  .generator-container-input {
    padding: $spacer-16 $spacer-32;
  }


}
