<div class="range-container">
    <label> @if (rangeSlider.label.location === 'before') {
        {{ rangeSlider.label.text }}
        }
        <input 
            type="range" 
            [name]="rangeSlider.name" 
            [id]="rangeSlider.id" 
            [attr.min]="rangeSlider.min" 
            [attr.max]="rangeSlider.max" 
            [value]="value()"
            (input)="value.set(+($any($event.target).value))">
            @if (rangeSlider.label.location === 'after') {
        {{ rangeSlider.label.text }}
        }
    </label>
    <span id="length-display">{{ value() }}</span>
</div>